.app {
  width: 100vw;
  min-height: 100vh;
}

#light {
  background-color: #f5efed;
}

#dark {
  background-color: #533a71;
}

#light, #dark {
  transition: background-color 0.3s ease-in-out;
}

body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}

#light .title {
  color: #533a71;
}

#dark .title {
  color: #f5efed;
}

.mode-button {
  justify-content: end;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}

#light .mode-button {
  color: #533a71;
}

#dark .mode-button {
  color: #f5efed;
}

.row {
  cursor: pointer;
  display: flex;
  padding: 10px;
}

.icon {
  padding-right: 20px;
}

#light .icon {
  color: #f5efed;
}

#dark .icon {
  color: #533a71;
}

.row-name {
  font-style: italic;
  font-size: x-large;
  font-weight: bold;
}

#light .row-name {
  color: #f5efed;
}

#dark .row-name {
  color: #533a71;
}

.main {
  display: flex;
}

.page-title {
  font-size: 50px;
  margin: auto;
}

#light .page-title {
  color: #533a71;
}

#dark .page-title {
  color: #f5efed;
}

.sidebar {
  padding-right: 4rem;
  height: 100dvh;
}

#light .sidebar {
  background-color: #533a71;
}

#dark .sidebar {
  background-color: #f5efed;
}

.page-content {
  padding-left: 10px;
}
