.app {
  width: 100vw;
  height: 100vh;
}

#light {
  background-color: #f5efed;
}

#dark {
  background-color: #533a71;
}

#light,
#dark {
  transition: background-color 0.3s ease; /* Smoothly transition the background color */
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px;
}

.header,
.title {
  flex-grow: 1;
}

#light,
.title {
  color: #533a71;
}

#dark,
.title {
  color: #f5efed;
}

.mode-button {
  justify-content: end;
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  margin-left: auto;
}

#light,
.mode-button {
  color: #533a71;
}

#dark,
.mode-button {
  color: #f5efed;
}

.row {
  cursor: pointer;
  display: flex;
}

.icon {
  padding-right: 10px;
}

#light,
.icon {
  color: #f5efed;
}

#dark,
.icon {
  color: #533a71;
}

.row-name {
  font-style: italic;
}

#light,
.row-name {
  color: #f5efed;
}

#dark,
.row-name {
  color: #533a71;
}

.main {
  display: flex;
}

#light,
.page-title {
  color: #533a71;
}

#dark,
.page-title {
  color: #f5efed;
}

.sidebar {
  padding-right: 4rem;
}

#light,
.sidebar {
  background-color: #533a71;
}

.page-content {
  padding-left: 10px;
}
