.App {
  width: 100vw;
  height: 100vh;
}

#light {
  background-color: #F5EFED;
}

#dark {
  background-color: #533A71;
}

#light, #dark {
  transition: background-color 0.3s ease; /* Smoothly transition the background color */
}

body {
  margin: 0;
  padding: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px 16px; 
}

.header .title {
  flex-grow: 1;
}

#light .title {
  color: #533A71;
}

#dark .title {
  color: #F5EFED;
}

.modeButton {
  justify-content: end;
  background: none;
	border: none;
	padding: 0;
	cursor: pointer;
  margin-left: auto;
}

#light .modeButton {
  color: #533A71;
}

#dark .modeButton {
  color: #F5EFED;
}

.row {
  cursor: pointer;
  display: flex;
}

.icon {
  padding-right: 10px;
}

#light .icon {
  color: #F5EFED;
}

#dark .icon {
  color: #533A71;
}

.row-name {
  font-style: italic;
}

#light .row-name {
  color: #F5EFED;
}

#dark .row-name {
  color: #533A71;
}

.main {
  display: flex;
}

#light .page-title {
  color: #533A71;
}

#dark .page-title {
  color: #F5EFED;
}

.sidebar {
  padding-right: 4rem;  
}

#light .sidebar {
  background-color: #533A71;
}

.page-content {
  padding-left: 10px;
}


